body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #535353;
    color: white;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    color: #FF1E00;
    background-color: #15151e;
    font-weight: bold;
    font-size: large;
}

#navbar ul li {
    padding: 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: #FF1E00;
}

#navbar ul li a:active {
    background-color: #535353;
}