body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #15151e;
    color: white;
}

#navbar {
    list-style-type: none;
    background-color: #15151e;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    position: sticky;
    top: 0;
}

#navbar li {
    display: inline;
}

#navbar li a {
    color: white;
    background-color: #15151e;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#navbar li a.active {
    background-color: rgba(255, 30, 00, 0.5);
    border-bottom: 0.2rem solid #ff1e00;
}

#navbar li a:hover {
    border-bottom: 0.2rem solid #ff1e00;
}

.infobox {
    margin: 3rem;
    padding: 1rem;
    border: 0.2rem solid #ff1e00;
    border-radius: 1rem;
}

.infobox button {
    background-color: #ff1e00;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}

.infobox button a {
    text-decoration: none;
    color: white;
}