body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pics/background.png");
    background-size: 100% auto;
    margin: 0;
}

#navbar {
    list-style-type: none;
    background-color: #15151e;
    margin: 0;
    padding: 0.75rem;
    position: sticky;
    top: 0;
}

#navbar li {
    display: inline;
    margin: 0;
}

#navbar li a {
    color: white;
    background-color: #15151e;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

#navbar li a.active {
    background-color: rgba(255, 30, 00, 0.5);
    border-bottom: 0.2rem solid #ff1e00;
}

#navbar li a:hover {
    border-bottom: 0.2rem solid #ff1e00;
}

.infobox {
    margin: 2rem;
    margin-top: 2rem;
    border: 0.2rem solid #ff1e00;
    border-radius: 2rem;
    background-color: #15151e;
    color: white;
    box-shadow: 0 0 0 0.4rem #15151e;
    scroll-margin-top: 6.2rem;
    transition: background-color 0.5s ease;
}

.infobox h1 {
    margin-top: 1.5rem;
    margin-left: 2rem;
    box-shadow: 0 0 0 #15151e;
}

.infobox p {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.infobox img {
    float: right;
    padding: 2rem;
    height: 8rem;
}

.infobox button {
    background-color: #ff1e00;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border: none;
    font-weight: bold;
}

.infobox ol {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.infobox button a {
    text-decoration: none;
    color: #15151e;
}

.infobox ol li a {
    text-decoration: none;
    color: white;
}

.infobox ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

.infobox ul li a {
    text-decoration: none;
    color: white;
}

.infobox table {
    margin: 2.2rem;
}

.infobox table td:nth-child(1) {
    font-weight: bold;
}

.infobox table .tabbed {
    padding-left: 1.5rem;
    text-align: center;
}

.infobox:target {
    animation: flashRed 2s forwards;
}

@keyframes flashRed {
    0% { background-color: #15151e; }
    50% { background-color: rgba(255, 30, 00, 0.5); }
    100% { background-color: #15151e; }
}

#pagecontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pagecontent > h1 {
    background-color: rgba(255, 30, 0, 0.8);
    color: #15151e;
    padding: 0.75rem;
    border-bottom: 0.25rem solid #15151e;
    border-radius: 0 0 1rem 1rem;
    font-size: 1.75rem;
    margin:0;
}

#contentleft {
    width: 75%;
}

#contentleft .infobox
{
    overflow: hidden;
    max-height: 5rem;
    transition: max-height 0.5s;
}

#contentleft .infobox:hover {
    max-height: 20rem;
}

#navright {
    width: 25%;
    position: sticky;
    top: 3rem;
    align-self: flex-start;
}

#navright ol {
    list-style-type: none;
}

#navright ol {
    padding: 0;
}

#navright a:hover {
    color: #ff1e00;
}

#podium {
    width: 100%;
    height: 150%;
    text-align: center;
    border-bottom: 0.2rem solid #ff1e00;
    margin: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    font-size: 1.25rem;
}

#podium div {
    display: inline;
    width: 20%;
    height: 200%;
    background: linear-gradient(to bottom, rgba(21, 21, 30, 0.8), rgba(21, 21, 30, 0.3));
    border-radius: 2rem 2rem 0 0;
}

#podium h1 {
    width: 100%;
    flex-basis: 100%;
    text-align: center;
}

#podium div:nth-child(1) {
    padding-bottom: 2.5rem;
    color: silver;
}

#podium div:nth-child(2) {
    padding-bottom: 5rem;
    color: gold;
}

#podium div:nth-child(3) {
    color: #cd7f32;
}

#podium div img {
    margin-top: 10%;
    max-width: 77.5%;
    border-radius: 2rem;
    background-color: #555555;
}

#leaderboard3-- {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#leaderboard3-- p {
    font-size: 1.25rem;
    background-color: #555555;
    padding: 0.5rem;
    border-radius: 0.625rem;
    border: 0.125rem solid #15151e;
    margin: 0;
}

.banner {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    border-bottom: 0.25rem solid rgba(255, 30, 0, 0.8);

    border-radius: 0 0 5rem 5rem;
}

.banner #main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.banner img:nth-child(2) {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    height: auto;
}

.banner p {
    font-size: 1.25rem;
    background-color: #ff1e00;
    padding: 0.5rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
    border-right: 0.2rem solid #15151e;
    border-top: 0.2rem solid #15151e;
}

.banner p:nth-child(3) {
    position: absolute;
    top: 27%;
    left: 18%;
}

.banner p:nth-child(4) {
    position: absolute;
    top: 26%;
    left: 46%;
}

.banner p:nth-child(5) {
    position: absolute;
    top: 26.5%;
    left: 66.5%;
}

.banner p:nth-child(6) {
    position: absolute;
    top: 26.7%;
    left: 88%;
}