body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    list-style-type: none;
    margin-top: 2.5rem;
}

#navbar li a {
    color: #ff1e00;
    background-color: #15151e;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 1rem;
}

#navbar li a.active {
    color: #15151e;
    background-color: #ff1e00;
}