body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #15151e;
    color: white;
}

#navbar {
    list-style-type: none;
    background-color: #15151e;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    position: sticky;
    top: 0;
}

#navbar li {
    display: inline;
}

#navbar li a {
    color: white;
    background-color: #15151e;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#navbar li a.active {
    background-color: rgba(255, 30, 00, 0.5);
    border-bottom: 0.2rem solid #ff1e00;
}

#navbar li a:hover {
    border-bottom: 0.2rem solid #ff1e00;
}

.infobox {
    margin: 1rem;
    margin-top: 3rem;
    border: 0.2rem solid #ff1e00;
    border-radius: 1rem;
}

.infobox h1 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.infobox p {
    margin-left: 1rem;
    margin-bottom: 1.25rem
}

.infobox img {
    float: right;
    height: 12rem;
}

.infobox button {
    background-color: #ff1e00;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    font-weight: bold;
}

.infobox button a {
    text-decoration: none;
    color: #15151e;
}

.infobox ol li a {
    text-decoration: none;
    color: white;
}

.infobox ul {
    list-style-type: none;
}

.infobox ul li a {
    text-decoration: none;
    color: white;
}

#pagecontent {
    display: flex;
    flex-direction: row;
}

#contentleft {
    width:70%;
}

#navright {
    width: 30%;
    position: sticky;
    top: 3rem;
    align-self: flex-start;
}

#navright a:hover {
    color: #ff1e00;
}