body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #15151e;
    color: white;
}

#navbar {
    display: inline-flex;
    list-style-type: none;
}

#navbar li a {
    color: white;
    background-color: #15151e;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;

}

#navbar li a.active {
    border-bottom: 0.25rem solid #ff1e00;
}

#navbar li a:hover {
    border-bottom: 0.25rem solid #ff1e00;
    background-color: rgba(255, 30, 00, 0.2);
}