body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #050505;
}

#navbar {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

#navbar li a {
    color: #ff1e00;
    text-decoration: none;
}

#navbar li a:active {
    border-bottom: 2px solid #ff1e00;
}