body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #15151e;
    color: white;
}

#navbar {
    display: inline-flex;
    list-style-type: none;
}

#navbar li a {
    color: white;
    background-color: #15151e;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;

}

#navbar li a.active {
    background-color: rgba(255, 30, 00, 0.5);
    border-bottom: 0.2rem solid #ff1e00;
}

#navbar li a:hover {
    border-bottom: 0.2rem solid #ff1e00;
}

.infobox {
    display: inline-flex;
    width: 40%;
    border: 0.25rem solid #ff1e00;
    border-radius: 1rem;
    margin: 1rem;
}

.infobox h1 {
    margin: 1rem;
}